# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/

# Environments
.venv/
venv/
.env

# Hydra
outputs/
.multirun/

# Data & models (DO NOT commit)
data/raw/*.csv
data/raw/*.zip
outputs/
models/

# DVC
.dvc/cache

# OS
.DS_Store
node_modules/
node_modules/

# mlflow
mlruns/
mlflow.db

# hydra / outputs
outputs/

# local junk
1/
1.26.4
3.20.1
